#content{ 
    position: relative;
    width: 100px;
    height:100px;
    box-sizing: border-box;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    box-shadow: 10px 5px 15px 0.1px rgba(0, 0, 0, 0.1);
    font-size: 2vw;
    font-family: "Bold"
}

#title{ 
    width: 20vw;
    height: 5vw;
    line-height: 5vw;
    position: absolute;
    z-index:1;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    text-align: center;
}

#img{ 
    width: 20vw;
    height: 10vw;
    object-fit: contain;
    position: absolute;
    top: 5vw;
    background-color: white;
    box-shadow: 10px 5px 15px 0.1px rgba(0, 0, 0, 0.1);
}

#desc{ 
    position: absolute;
    top: 15vw;
    display: flex;
    padding: 0.5vw;
    justify-content: space-between;
    width: 20vw;
    box-sizing: border-box;
    height: 5vw;
}

#info{ 
    text-align: center;
    line-height: 5vw;
}

#icon{ 
    margin-top: 0.2vw;
    color:rgb(200, 48, 48);
}




