@font-face {
    font-family:"Bold";
    src: url("./NotoSansKR-Bold.otf") format("truetype");
}

@font-face {
    font-family:"Medium";
    src: url("./NotoSansKR-Medium.otf") format("truetype");
}

@font-face {
    font-family:"Light";
    src: url("./NotoSansKR-Light.otf") format("truetype");
}